<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title> ESP Updates- Data Definition</title>
		<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
 		<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/connect/developers_scripts.js")"></script>
		<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon/ESPS.ico")">
	</head>
	<body>
		<form name="form1" method="post" id="form1">
			<div id="ctl04_MainZone" class="mainWrapper">
				<div id="ctl04_Module_87147" class="asiModule AppToolbarLite" ismodule="True">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="container">
								<a href="/" class="brand"><strong>asi</strong>developers</a>
								<ul id="ctl04_ctl00_simpleMenu" class="nav">
										<li id="ctl04_ctl00_42436" title="" data-toggle="dropdown" class="dropdown">
										<a href="/smartlink/api" target="" class="dropdown-toggle" data-toggle="dropdown">SmartLink</a>
									</li>
                                    <li id="Li1" title="" data-toggle="dropdown" class="dropdown">
										<a href="/espupdates/api" target="" class="dropdown-toggle" data-toggle="dropdown">ESP Updates</a>
									</li>
                                     <li id="Li2" title="" data-toggle="dropdown" class="dropdown">
										<a href="/connect/api" target="" class="dropdown-toggle" data-toggle="dropdown">Connect</a>
									</li>
								</ul>
								<ul class="nav support pull-right">
									<li>
										<span id="ctl04_ctl00_lblSupport">Product Support (800) 546-1350, option 2</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div ismodule="True" class="asiModule ContentLight" id="ctl04_Module_91748">
					<div>
						<div class="container">
							<div id="breadcrumbs">
								<div class="breadcrumb">
									<a href="/">Home</a>
                                    --->
                                    <a href="/overview">Overview</a>
                                    --->
									<a href="/smartlink/error_codes_responses">Error Codes</a>
								</div>
							</div>
							<div id="quickjump_api"></div>
							<h1 id="title">ESP Updates- Data Definition</h1>
                             <h3>Coming Soon</h3>
							<div class="content-main">
								<div class="view api-docs">
									<div class="content">
									</div>
									<div id="disqus_thread"></div>
								</div>
							</div>
						</div>
						<link type="text/css" rel="stylesheet" href="/css/prettify.css">
						<script type="text/javascript">
							$(document).ready(function() {
								$('.errors-json').html(formatJson(JSON.stringify(JSON.parse('{"readyState": 4, "responseText": "{\\\"Error\\\":\\\"Product not found\\\"}", "status": 404, "statusText": "Not Found"}'))));
								$('.errors-xml').html(formatXml('<Exception xmlns:xs="http://www.w3.org/2001/XMLSchema"><Error>Product not found</Error></Exception>'));
								prettyPrint();
							});
						</script>
					</div>
				</div>
				<div id="ctl04_Module_87079" class="asiModule ContentLight" IsModule="True">
					<div>
						<div class="clear"></div>
						<div class="subFooter styled clearfix">
							<div class="container">
								<div class="row">
									<div class="span3">
										<h5>Have questions?</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/asp/open/customersupport/productsupport/logomall.aspx">Product Support</a>
											</li>
											<li>
												<a href="mailto:support@asicentral.com?subject=Feedback">Feedback</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>ASI Store</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=135">ESP Web</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=138">ESP Orders</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=4">LogoMall</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore/products.aspx?prodID=18">CreditConnect</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/ASIStore">more &gt;</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>Community</h5>
										<ul>
											<li>
												<a href="http://asicentral.com/">ASI Central</a>
											</li>
											<li>
												<a href="http://timandrewsblog-asicentral.com/timblog/">Tim Andrews Blog</a>
											</li>
											<li>
												<a href="http://www.facebook.com/pages/ASICentral/55248546043">ASI Facebook</a>
											</li>
											<li>
												<a href="http://www.youtube.com/user/asicentral">ASI YouTube</a>
											</li>
											<li>
												<a href="http://twitter.com/asicentral">ASI Twitter</a>
											</li>
										</ul>
									</div>
									<div class="span3">
										<h5>Company</h5>
										<ul>
											<li>
												<a href="http://www.asicentral.com/asp/open/AboutASI/default.aspx">About ASI</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/AboutASI/pressRoom/default.aspx">Press Releases</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/asicareers/default.aspx">ASI Careers</a>
											</li>
											<li>
												<a href="http://www.asicentral.com/asp/open/CustomerSupport/support.aspx">Contact Us</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="copyright clearfix">
									<div class="span6">
										<span class="asiLogo"></span>
									</div>
									<div class="span6 alignRight copy">
										2012, Advertising Specialty Institute&reg;. All rights reserved.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<script type="text/javascript" src="/js/developers_scripts.js"></script>
	</body>
</html>
